<div class="container">
  <br>
    <div *ngIf="this.canShowData" class="chart-container" style="position: relative; height:40vh; width:80vw; display: block ;background-color: #EBEBEB;">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    <br>
    <div *ngIf="this.canShowPie" class="chart-container" style="position: relative; height:40vh; width:80vw; display: block ;background-color: #EBEBEB;">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"></canvas>
    </div>
    <br>
    <div *ngIf="this.canShowJoinChart" class="chart-container" style="position: relative; height:40vh; width:80vw; display: block ;background-color: #EBEBEB;">
      <canvas baseChart
          [datasets]="joinedChartData"
          [labels]="joinedChartLabels"
          [options]="joinedChartOptions"
          [legend]="joinedChartLegend"
          [chartType]="joinedChartType"></canvas>
    </div>
    
  </div>

